/* layout */
#container{width: 100%; background-image: url(../imgs/bgi.png);background-size: cover;}

/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

/* 오늘 뭐 보지? */
.main_today {background-color: rgb(209, 209, 209);border-radius: 0 0 500px 500px;}
.main_today .main_today_inner {position:relative;margin:0 auto;width:786px;height:132px;background-color: rgb(209, 209, 209);}

.main_today h3 { position:absolute;width:155px;height:132px;background:url(../imgs/h2_today_01.jpg)no-repeat;}
.main_today h3 a {display:block;width:100%; height:100%;text-indent:-9999px;}
.main_today h3 a span {display:block;text-indent:-9999px;}

.main_today .main_new_list {margin:0 0 0 165px; height:131px;}
.main_today .main_new_list ul {}
.main_today .main_new_list ul li {float:left; width:207px; height:128px; border-top:3px solid rgb(209, 209, 209);}

.main_today .main_new_list ul li .main_item_inner { position:relative; height:100%; border-left:3px solid #1f1f1f;}
.main_today .main_new_list ul li:first-child .main_item_inner {border-left-width:0; }

.main_today .main_new_list ul li .link {display:block;position:relative; padding:40px 0 0 0; width:100%; height:89px; text-align:center;}
.main_today .main_new_list ul li a.link { text-decoration:none; cursor:pointer; }
.main_today .main_new_list ul li .logo {width: 150px;height: 50px; padding-top: 35px;padding-left: 25px;}
.main_today .main_new_list ul li .time {display:block;position:absolute; padding-bottom:2px;padding-left: 60px;width:71%; height:30px; font-size:14px;font-weight:bold; line-height:30px; letter-spacing:2px; background:#000000;color:#ffffff;  }
.main_today .main_new_list ul li .item_title {display:block;position:absolute;width:100%;left:5px; bottom:13px;color: #1f1f1f;text-align: center;}

.main_today .main_new_list ul li.today_check { border-top-color:#ffd000;}
.main_today .main_new_list ul li.today_check .time { color:#ffd000; }

/* BEST MOVIE */
.st_tit_01{padding-top: 80px;padding-left: 43%;font-size: 40px; color: #fff;text-decoration:underline;font-family: 'Permanent Marker', cursive;}

.slide_gallery_box{position: relative;padding-top: 40px; width: 1260px;height: 456px; margin:0 auto;}
.slide_gallery_box>.slide_gallery{overflow: hidden;width: 1200px;height: 456px;margin:0 auto;}
.slide_gallery_box>.slide_gallery>.gallery{position: relative;left: 0; width: 2400px;}
.slide_gallery_box>.slide_gallery>.gallery>ul{overflow: hidden;float: left;}

.slide_gallery_box>.slide_gallery>.gallery>ul>li{float: left;}
.slide_gallery_box>.slide_gallery>.gallery>ul>li>a{display: block;}

.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall>a{display: block;width: 300px;height: 456px;text-indent: -9999px;background-image: url(../imgs/movie1.png);}
.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall:hover>a{display: block;background-image: url(../imgs/ho_movie1.png);transition: all 0.8s;}
.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall02>a{display: block;width: 300px;height: 456px;text-indent: -9999px;background-image: url(../imgs/movie2.png);}
.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall02:hover>a{display: block;background-image: url(../imgs/ho_movie2.png);transition: all 0.8s;}
.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall03>a{display: block;width: 300px;height: 456px;text-indent: -9999px;background-image: url(../imgs/movie3.png);}
.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall03:hover>a{display: block;background-image: url(../imgs/ho_movie3.png);transition: all 0.8s;}
.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall04>a{display: block;width: 300px;height: 456px;text-indent: -9999px;background-image: url(../imgs/movie4.png);}
.slide_gallery_box>.slide_gallery>.gallery>ul>li.gall04:hover>a{display: block;background-image: url(../imgs/ho_movie4.png);transition: all 0.8s;}

.slide_gallery_box>.slide_gallery>.gallery>ul>li>a>img{width: 100%;}

/* 슬라이드이미지에 호버해서 이미지변경되는 것 여쭤보기 */

/* rerun */
.st_tit_02{padding-top: 80px; padding-left: 46%;font-size: 40px; color: #fff;text-decoration:underline;font-family: 'Permanent Marker', cursive;}

.video{display: block;width: 800px;height: 500px;margin: 0 auto; padding-top: 40px;}

/* Game */
.st_tit_03{padding-top: 80px; padding-left: 47%;font-size: 40px; color: #fff;text-decoration:underline;font-family: 'Permanent Marker', cursive;}

.game_list_box{position: relative;padding-top: 40px; width: 1000px;height: 440px; margin:0 auto;}
.game_list_box>.game_list{overflow: hidden;width: 1000px;height: 440px;margin:0 auto;}
.game_list_box>.game_list>.game{position: relative;}
.game_list_box>.game_list>.game>ul{overflow: hidden;}
.game_list_box>.game_list>.game>ul>li{float: left;}
.game_list_box>.game_list>.game>ul>li>a{display: block;}

.game_list_box>.game_list>.game>ul>li.gl>a{display: block;width: 250px;height: 440px;text-indent: -9999px;background-image: url(../imgs/game_01.png);}
.game_list_box>.game_list>.game>ul>li.gl:hover>a{display: block;background-image: url(../imgs/ho_game_01.png);transition: all 0.5s;}
.game_list_box>.game_list>.game>ul>li.gl02>a{display: block;width: 250px;height: 440px;text-indent: -9999px;background-image: url(../imgs/game_02.png);}
.game_list_box>.game_list>.game>ul>li.gl02:hover>a{display: block;background-image: url(../imgs/ho_game_02.png);transition: all 0.5s;}
.game_list_box>.game_list>.game>ul>li.gl03>a{display: block;width: 250px;height: 440px;text-indent: -9999px;background-image: url(../imgs/game_03.png);}
.game_list_box>.game_list>.game>ul>li.gl03:hover>a{display: block;background-image: url(../imgs/ho_game_03.png);transition: all 0.5s;}
.game_list_box>.game_list>.game>ul>li.gl04>a{display: block;width: 250px;height: 440px;text-indent: -9999px;background-image: url(../imgs/game_04.png);}
.game_list_box>.game_list>.game>ul>li.gl04:hover>a{display: block;background-image: url(../imgs/ho_game_04.png);transition: all 0.5s;}

.game_list_box>.game_list>.game>ul>li>a>img{width: 100%;}

/* Event */
.st_tit_04{padding-top: 80px; padding-left: 47%;font-size: 40px; color: #fff;text-decoration:underline;font-family: 'Permanent Marker', cursive;}

.slide_event_box{position: relative;padding-top: 40px; width: 100%;padding-bottom: 80px; margin:0 auto;}
.slide_event_box .event{}
.slide_event_box .event ul{}
.slide_event_box .event ul>li{}
.slide_event_box .event ul>li>a{}
.slide_event_box .event ul>li>a>img{}
/* Font */
/* font-family: 'Gothic A1', sans-serif;
   font-family: 'Permanent Marker', cursive; */ 